/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

input {
  border: none;
  outline: none;
  background: none;
}
button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
/* reset */
/* 전체 선택 */
.temperature,
.name {
  font-family: "Poltawski Nowy", serif;
}
#clock,
#greeting,
#login-form,
#todo-form,
#todo-list,
#quote {
  margin-bottom: 15px;
}

#clock,
#greeting,
.login-input,
.login-input::placeholder,
.todo-input::placeholder,
.quote,
.author,
.temperature,
.name,
.todo-input,
#login-btn {
  color: whitesmoke;
}
.login-input,
.todo-input,
#quote {
  font-size: 20px;
}
/* 전체 선택 */
.hidden {
  display: none;
}
#bgImags > img {
  width: 100vw;
  height: 100vh;

  display: inline-flex;
  object-fit: cover;

  position: absolute;
  left: 0;
  top: 0;

  z-index: -1;

  filter: brightness(85%);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 90vh;
}
#weather {
  position: absolute;
  top: 5%;
  right: 8%;
  font-weight: 300;
  font-size: 15px;
}

#clock {
  padding: 0 0.1em 0 0.1em;
  font-size: 80px;

  border-radius: 10px;
}
#todo-list {
  text-align: start;
}
#todo-list li span {
  color: whitesmoke;
}
#todo-list li button {
  margin-right: 5px;
}

.login-input {
  text-align: center;
  border-bottom: 1px solid whitesmoke;
}
.todo-input {
  display: flex;
  text-align: center;
  width: 300px;
}

footer {
  position: absolute;
  bottom: 10px;
  font-family: "Poltawski Nowy", serif;
}
.author {
  display: block;
}
